/* Fonts */

@font-face {
    font-family: 'Codystar';
    src:    url('../fonts/codystar-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Colours */
.gold {
    background-color: gold;
    color: black;
}

.green {
    background-color: green;
    color: white;
}

.grey {
    background-color: #555;
    color: white;
}

/* Page */

body{
    font-family: monospace;
    margin: 0;
}

p {
    font-size: 1.5em;
}

#main-container{
    width: 1020px;
    margin: 0 auto;
    text-align: left;
    position: fixed;
    top: 120px;
    left: 0;
}

#results-container{
    width: 60%
}

#winning-names{
    position: fixed;
    top: 120px;
    left: 815px;
    width: 37%;
    overflow-y: scroll;
    height: 680px;
    padding-left: 15px;
    background-color: #feffac;
}

#also{
    padding-top: 19.5px;
}

.hash-and-score{
    position: relative;
}

.hash-container{
    width: 64%;
    float: left;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.score{
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 24px;
    padding: 4px 2px 0 3px;
    font-size: 2.5em;
    font-family: 'Codystar', monospace;
    border-radius: 50%;
    text-align: center;
}

#punchcard{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 286px;
}

.sidebar {
    width: 170px;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
}

#punchcard .sidebar{
    height: 100%;
    background-color: whitesmoke;
}

.sidebar .l1 {
    margin: 20px 0;
}

.sidebar .l2 {
    margin: 61.5px 0;
}

.sidebar .l3 {
    margin: 10px 0;
}

.main-bit {
    width: 600px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    left: 170px;
    border-left: 5px dotted #eee;
}

#punchcard .main-bit {
    background-color: whitesmoke;
    height: 100%;
}

#underpunch{
    position: absolute;
    top: 295px;
    padding-left: 10px;
}

#underpunch .main-bit {
    border-style: none;
    margin-left: 14px;
}

#underpunch .sidebar {
    margin-left: 10px
}

.message{
    font-family: 'Futura', sans-serif;
}

#title {
    width: 100%;
    background-color: #333;
    height: 85px;
    font-size: 2.6em;
    color: white;
    text-align: center;
    padding-top: 35px;
    font-family: 'Futura', sans-serif;
}

.side {
    float: left;

}

.side .score {
    font-size: 1.9em;
    width: 40px;
    height: 40px;
    margin: 5px 5px 0 0;
}

.side .message {
    margin: 13px 0 15px 7px;
    width: 345px;
    font-size: 1.2em;
}

.message {
    margin-bottom: 0;
}

.hash {
    font-family: monospace;
    word-break: break-all;
}

#best-message{
    margin-top: 0;
}

#best-name {
    margin-top: 47.5px;
}

.head {
    color: green;
}

#winner-title{
    font-family: 'Codystar', monospace;
    font-size: 2em;
    margin: 10px;
}



