/* Fonts */

@font-face {
    font-family: 'Codystar';
    src:    url('../fonts/codystar-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Colours */
.gold {
    background-color: gold;
    color: black;
}

.green {
    background-color: green;
    color: white;
}

.grey {
    background-color: #555;
    color: white;
}

/* Page */

body{
    font-family: monospace;
    margin: 0;
}

p {
    font-size: 1.5em;
}

#main-container{
    width: 980px;
    margin: 0 auto;
    text-align: left;
    position: fixed;
    top: 120px;
    left: 252px;
}

#results-container{
    width: 60%
}

#winning-names{
    position: fixed;
    top: 120px;
    left: 66%;
    width: 37%;
    overflow-y: scroll;
    height: 650px;
}

.hash-and-score{
    position: relative;
}

.hash-container{
    width: 64%;
    float: left;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.score{
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 24px;
    padding: 5px 3px 1px 4px;
    font-size: 2.5em;
    font-family: 'Codystar', monospace;
    border-radius: 50%;
    text-align: center;
}

#sidebar {
    width: 240px;
    height: 100%;
    top: 120px;
    left: 0;
    position: fixed;
    background-color: green;
    text-align: center;
}

.message{
    font-family: 'Futura', sans-serif;
}

#title {
    width: 100%;
    background-color: #333;
    height: 85px;
    font-size: 2.6em;
    color: white;
    text-align: center;
    padding-top: 35px;
    font-family: 'Futura', sans-serif;
}

.side {
    float: left;

}

.side .score {
    font-size: 2em;
    width: 44px;
    height: 44px;
    margin: 5px 5px 0 0;
}

.side .message {
    margin: 13px 0 15px 7px;
    width: 345px
}

.message {
    margin-bottom: 0;
    margin-left: 24px;
}

.hash {
    font-family: monospace;
    word-break: break-all;
}

#latest-message {
}

.head {
    color: green;
}



