body{
    font-family: sans-serif;
}

#main-container{
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.hash {
    font-family: monospace;
    font-size: 2em;
}

.head {
    color: green;
}


